/* === RESET STYLES === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(63, 61, 61, 0.385);
}

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* === ROOT CONTAINER === */
#root {
  max-width: 1280px;
  margin: 0 auto;
}
